<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SWIT2017 - <%= @item[:title] %></title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <header>
    <h1><a href="/">Semantic Web technologies for the Internet of Things</a></h1>
    <p>SWIT2017 – ISWC2017 workshop</p>
    <nav>
      <ul>
        <% main_pages.each do |page| %>
        <li<%= @item==page ? ' class="current"': '' %>><%= link_to page[:title], page %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
